div.DraftEditor-root {
    height: 84vh;
    width: 99%;
    padding-top: 5%;
    overflow-y: scroll;
    font-family: sans-serif;
    font-size: small;
}

div.DraftEditor-editorContainer1,
div.public-DraftEditor-content {
    height: 100%;
    font-family: verdana;
    font-size: 14px;
    line-height: 1.4em;
    padding-left: 5%;
}

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}