div.DraftEditor-root {
    height: 83vh;
    width: 99%;
    padding-top: 5%;
    overflow-y: scroll;
    font-family: 'calibri', sans-serif;
    font-size: small;
}

div.DraftEditor-editorContainer1,
div.public-DraftEditor-content {
    height: 100%;
    font-family: "sans-serif";
    padding-right: 3%;
    padding-left: 5%;
}

.ButtonGroup {
    font-family: monospace;
}

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}